sudo: required
dist: trusty
language: python
python:
- "2.7"
- "3.3"
- "3.4"
- "3.5"
install:
- sudo apt-get update
# install liblo before pyliblo
- sudo apt-get -qq install python-setuptools liblo-dev liblo-tools
# upgrade pip itself
- pip install --upgrade pip
# cython is required for pyliblo
- pip install Cython
- pip install -r requirements.txt
# check the tests coverage
- pip install coverage
# install codacy tools
- pip install codacy-coverage
# install to publish documentation from push or tag
- pip install travis-sphinx
script:
- cd tests
# codacy
- coverage run --omit ../pybush/_version.py --omit ../versioneer.py  --include=../pybush/"*" test_.py
- coverage xml
- coverage report -m
- python-codacy-coverage -r coverage.xml
# build the documentation
- cd ../
- travis-sphinx build
after_success: 
- travis-sphinx deploy
- cd tests
- coveralls
